.elementor-284
  .elementor-element.elementor-element-a326b34
  > .elementor-widget-container {
  margin: 0px 0px 35px 0px;
}
.elementor-284 .elementor-element.elementor-element-6cf9a017 .elementor-button {
  font-family: "Montserrat", Sans-serif;
  font-weight: 800;
  background-color: #58c00d;
  box-shadow: 0px 5px 0px 0px #4ea50f;
}
.elementor-284
  .elementor-element.elementor-element-6cf9a017
  > .elementor-widget-container {
  margin: 35px 0px 35px 0px;
}
.elementor-284
  .elementor-element.elementor-element-39e79ea3:not(.elementor-motion-effects-element-type-background),
.elementor-284
  .elementor-element.elementor-element-39e79ea3
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-284 .elementor-element.elementor-element-39e79ea3 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-284
  .elementor-element.elementor-element-39e79ea3
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-284 .elementor-element.elementor-element-549e97f8 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.elementor-bc-flex-widget
  .elementor-284
  .elementor-element.elementor-element-210d17b1.elementor-column
  .elementor-column-wrap {
  align-items: center;
}
.elementor-284
  .elementor-element.elementor-element-210d17b1.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-284 .elementor-element.elementor-element-2d0a0dd img {
  width: 63%;
}
.elementor-284 .elementor-element.elementor-element-40f9d08d {
  text-align: left;
}
.elementor-284
  .elementor-element.elementor-element-40f9d08d
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-284 .elementor-element.elementor-element-65762319 {
  text-align: left;
}
.elementor-284
  .elementor-element.elementor-element-65762319
  .elementor-heading-title {
  color: #9c9b9b;
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  font-weight: 500;
}
.elementor-284 .elementor-element.elementor-element-344c492c {
  text-align: left;
}
.elementor-284
  .elementor-element.elementor-element-344c492c
  .elementor-heading-title {
  color: #9c9b9b;
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  font-weight: 500;
}
.elementor-284
  .elementor-element.elementor-element-344c492c
  > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
}
.elementor-284 .elementor-element.elementor-element-580f2580 {
  text-align: left;
}
.elementor-284
  .elementor-element.elementor-element-580f2580
  .elementor-heading-title {
  color: #9c9b9b;
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  font-weight: 500;
}
.elementor-284
  .elementor-element.elementor-element-580f2580
  > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
}
.elementor-284 .elementor-element.elementor-element-15bc0617 .elementor-button {
  font-family: "Montserrat", Sans-serif;
  font-size: 11px;
  font-weight: 800;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: #3c9000;
}
.elementor-284
  .elementor-element.elementor-element-15bc0617
  > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
}
.elementor-284 .elementor-element.elementor-element-523b10db {
  text-align: left;
}
.elementor-284
  .elementor-element.elementor-element-523b10db
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-284 .elementor-element.elementor-element-10151818 {
  text-align: left;
}
.elementor-284
  .elementor-element.elementor-element-10151818
  .elementor-heading-title {
  color: #9c9b9b;
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3em;
}
.elementor-284 .elementor-element.elementor-element-113980f9 {
  text-align: left;
}
.elementor-284
  .elementor-element.elementor-element-113980f9
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-284 .elementor-element.elementor-element-3b44e143 img {
  width: 100%;
}
.elementor-284 .elementor-element.elementor-element-7c528e27 {
  text-align: left;
}
.elementor-284
  .elementor-element.elementor-element-7c528e27
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.elementor-284 .elementor-element.elementor-element-92d092a .elementor-button {
  font-family: "Montserrat", Sans-serif;
  font-size: 11px;
  font-weight: 800;
  fill: #5a5a5a;
  color: #5a5a5a;
  background-color: #ffffff;
}
.elementor-284
  .elementor-element.elementor-element-92d092a
  > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
}
.elementor-284 .elementor-element.elementor-element-659de97d .elementor-button {
  font-family: "Montserrat", Sans-serif;
  font-size: 11px;
  font-weight: 800;
  fill: #5a5a5a;
  color: #5a5a5a;
  background-color: #ffffff;
  padding: 10px 25px 10px 25px;
}
.elementor-284
  .elementor-element.elementor-element-659de97d
  > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-284 .elementor-element.elementor-element-1e56ddf2 {
  text-align: center;
}
.elementor-284
  .elementor-element.elementor-element-1e56ddf2
  .elementor-heading-title {
  color: #9c9b9b;
  font-family: "Montserrat", Sans-serif;
  font-size: 13px;
  font-weight: 600;
}
body.elementor-page-284:not(.elementor-motion-effects-element-type-background),
body.elementor-page-284
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #001424;
}
@media (max-width: 767px) {
  .elementor-284
    .elementor-element.elementor-element-6cf9a017
    .elementor-button {
    font-size: 11px;
  }
  .elementor-284 .elementor-element.elementor-element-2d0a0dd img {
    width: 40%;
  }
  .elementor-284
    .elementor-element.elementor-element-15bc0617
    .elementor-button {
    padding: 15px 70px 15px 70px;
  }
  .elementor-284
    .elementor-element.elementor-element-2ff477bc
    > .elementor-element-populated {
    margin: 0px 0px -10px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-284
    .elementor-element.elementor-element-1e56ddf2
    .elementor-heading-title {
    font-size: 11px;
  }
} /* Start custom CSS */
.m0 {
  margin: 0 !important;
}
body {
  overflow-x: hidden;
}
/*Overlay Header*/

*#header:before {
  content: "";
  width: 30%;
  height: 100%;
  background: url(https://webmaterializer.com/wp-content/uploads/2022/01/modelo-header.png);
  background-size: auto;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  background-blend-mode: darken;
  opacity: 0.5;
  z-index: 1;
}

.bt-tabs {
  animation: pulse 1s infinite;
}

/*Beneficiosr*/

.box-bn {
  border-style: solid;
  border-width: 0 0 3px 0;
  border-image: linear-gradient(to right, #e94591, #b662c2);
  border-image-slice: 1;
  box-shadow: #c7c7c7 1px 1px 15px;
  margin: 0px 10px 40px;
  border-radius: 8px;
  overflow: hidden;
}

@media (max-width: 768px) {
  #header:before {
    display: none;
  }
} /* End custom CSS */
